#div1, #div2 {
    border: solid 1px #000;
    width: 150px;
    height: 150px;
}

#divExterna {
    background-color: #ccc;
    width: 80px;
    height: 80px;
    padding: 70px;
}

#divInterna {
    background-color: #000;
    width: 80px;
    height: 80px;
}

.inputFocado {
    background-color: #f00;
}